body{
  margin-left: 100px;
  background-color: lightblue;
}

p{
    text-align: left;
    margin-left: 0px;
}

h{
    font-size: 40px;
    border-bottom: 1px solid gray;
}

#script{
  font-size: 20px;
}
