.special{
  color: #f06eb5;
  text-shadow: 1px 1px #ff0000;
  text-decoration: underline;
  font-family: monospace;
  font-size: 20px;
}
body{
  margin-left: 100px;
  background-color: #3d98e3;
}

p{
    text-align: left;
    margin-left: 0px;
}

h{
    font-size: 40px;
    border-bottom: 1px solid gray;
}

#script{
  font-size: 20px;
}

#output{
  font-family: monospace;
  font-size: 40px;
  color: green;
}
