body{
  margin-left: 100px;
  background-color: #bd7b9f;
}
​
p{
    text-align: left;
    margin-left: 0px;
    margin-right: 500px;
    font-size: 19px;
}
​
h{
    font-size: 40px;
    border-bottom: 1px solid gray;
}
​
#script{
  font-size: 20px;
}
​
#output{
  font-family: monospace;
  font-size: 40px;
  color: green;
  margin-left: 10px;
}
